Makefile
Makefile.in
aclocal.m4
/autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
test-driver
xtalgrowth.1
/src/*.log
/src/*.o
/src/*.trs
/src/*.dat
/src/marsaglia
/src/marsaglia2d
/src/marsaglia2d.eps
/src/marsaglia2d.o
