# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  pages: read
  id-token: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - name: Install popt and ninja
        run: |
          sudo apt-get update
          sudo apt-get install -y libpopt-dev ninja-build gnuplot meson libx11-dev

      - name: Prepare Autotools
        run: autoreconf -v || automake --add-missing

      - name: Configure, make distcheck, also prepare src/CMakeLists.txt
        run: |
          ./configure
          xvfb-run make distcheck

      - name: CMake, Ninja, then test under X
        run: |
          mkdir build
          cd build
          cmake -G Ninja ..
          ninja
          xvfb-run ninja test

      - name: Meson Build, then test under X
        run: |
          meson setup mesonbuilddir
          cd mesonbuilddir
          ninja
          xvfb-run ninja test
